<div ng-model="leftView" ng-init="getAllBooks();">
    <div class="row">
        <div ng-include="'views/alert.html'"></div>
    </div>
    <br/>

	<div class="container">
		<div class="row">
			<!-- getPolls VIEW -->
			<div class="animate-if col-md-4"  ng-repeat="book in allBooks">
				<div class="media" >
				  <h4 class="text-center">{{book.bookTitle}}</h4>
				  <div class="media-left">
				    <a href="#">
				    	<img class="media-object" src="data:image/png;base64,{{book.bookImageBase64}}" width="200px;" height="" alt=""/>
				    </a>
				  </div>
				
				</div>
			</div>
		</div>
	</div>		
</div>