<div ng-controller="HeaderCtrl" ng-init="whichView='getPolls'">
	<div class="jumbotron">
	  <h1>VotePlex</h1>
	  <p class="lead">
	    Create custom polls with live results.  </p>
	    
	    <div>
		     <p class="lead" style="color: white">Signup or login now to create polls.</p>
		    <div class="btn-group" role="group">
				<a type="button" class="btn btn-success" ng-click="getPolls(); whichView='getPolls'">show polls</a>
		    </div>
	    </div>
	</div>
	<div class="container">
	</div>	
</div>