    <div class="row">
        <div ng-include="'views/alert.html'"></div>
    </div>
    <br/>

<div class="container">
	<div class="animate-if">
	  <form class="">
	  	<h2 class="form-signin-heading" style="text-decoration: underline;">User Details</h2>

	  	<h3 class="form-signin-heading">Name</h3>
	    <label for="inputName" class="">First Name</label>
	    <input type="text"  ng-model="first_name" class="form-control" placeholder="First Name">

	    <label for="inputName" class="">Last Name</label>
	    <input type="text"  ng-model="last_name" class="form-control" placeholder="Last Name">
	    
	    <h3 class="form-signin-heading">Address</h3>
	    <label for="inputName" class="">Street</label>
	    <input type="text"  ng-model="street" class="form-control" placeholder="Street">
	    <label for="inputName" class="">State</label>
	    <input type="text"  ng-model="state" class="form-control" placeholder="state">
	    <label for="inputName" class="">city</label>
	    <input type="text"  ng-model="city" class="form-control" placeholder="city">
	     <br/>
	    <button class="btn btn-lg btn-primary btn-block" ng-click="changeDetails()">Submit</button>
	  </form>
	</div>
</div>
